header {
   background-color:#150947;
   padding-top: 10px;
   padding-left: 20px;

}
.navbar {

   border-top: antiquewhite solid;
   display: block;
   text-align: center;
   padding-left: 0px;
   padding-top: 0;
   padding-bottom: 0;
   text-decoration: darkred;
   width: 160px;
   background-color: #FCCBBD;
   font-weight: bold;
}
header input[type=text] {
   float: bottom;
   padding-left: 5px;
   padding-top: 10px;
   text-align: left;
   border: none;
   font-size: 17px;
   width: 50%;
}
header img {
   float: center;
   padding-left: 20px;
   width: 250px
}
.navbar-nav {
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 200px;

}

.nav-item {
   color: #150947;
   padding: 0 90px;

}
.nav-link{
   color:  #150947;
   padding-left: 90px;
   width: 160px;
}
.p-5 .text-center .bg-image .col-12 {
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;

}
.footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: aliceblue;
color: white;
text-align: center;
padding: 10px;
font-size: 0.5rem;
}